<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1042701407236-bojoorvtqc8on915nr1asp1iukt7t249.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1042701407236-bojoorvtqc8on915nr1asp1iukt7t249</string>
	<key>API_KEY</key>
	<string>AIzaSyCesqKkiF_Fh6kzOMU2eitzRiZm9oXI3w8</string>
	<key>GCM_SENDER_ID</key>
	<string>1042701407236</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.uark.capstone.Vehicle-to-Grid</string>
	<key>PROJECT_ID</key>
	<string>vehicle-to-grid-c6b7d</string>
	<key>STORAGE_BUCKET</key>
	<string>vehicle-to-grid-c6b7d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1042701407236:ios:745a2015f45ceea2c05151</string>
</dict>
</plist>